PORT=3000

OUTLINE_PUBLIC_URL=https://outline-vpc.tail9ed703.ts.net
OUTLINE_INTERNAL_URL=http://outline:3000

OUTLINE_AUTHORIZATION_URL=https://outline-vpc.tail9ed703.ts.net/oauth/authorize
OUTLINE_CLIENT_ID=5tndva1y9e2hmdhp7p7v
OUTLINE_CLIENT_SECRET=ol_sk_UyEeiTo04ptWVfp1rY1cdbLCljHqBpW4
OUTLINE_REDIRECT_URI=https://outline-vpc.tail9ed703.ts.net/print/auth/callback

OUTLINE_TEAM_ID=0d3ed1d3-8f82-4a69-94eb-42a5cc43aec2

REDIS_URL=redis://outline-redis:6379
